
    {% extends 'base.html' %} 
    {% load static %}
    {% block page_title %}{{ user }}'s Profile{% endblock %} {% block page_heading %}{{ user }}'s Profile{% endblock %} {% block content %}
<p>{{ babysitters.firstName }}</p>

<section>

<div class="dashboard push-down">
 <section class="team-member padding-v100">
            <div class="container">
                <div class="row">
                
                    <div class="col-lg-5 col-sm-6">
                        <div class="member-meta">
                            <img class="rounded-circle profile-image my-2 img-fluid" src="{{ MEDIA_URL }}{{ babysitter.image }}">
                            <span class="mbr-vocation">Babysitter</span>
                            <h2>{{ babysitter.firstName }} {{babysitter.lastName}}</h2>
                            <span class="author-social">
                                <a href="url('{{ babysitter.facebook }}')" class="social-icon color-bg-icon rounded-icon soc-facebook"></a>
                                <a href="#" class="social-icon color-bg-icon rounded-icon soc-twitter"></a>
                                <a href="#" class="social-icon color-bg-icon rounded-icon soc-instagram"></a>
                            </span>
                            <div class="member-contacts">
                                <div class="mbr-phone">
                                    <i class="fas fa-mars fa-2x" style="color:#9cc0e5;"></i><i class="fas fa-venus fa-2x" style="color:#f5abcb;"></i>
                                    <span>&nbsp &nbsp{{ babysitter.gender }}</span>
                                </div>
                                <div class="mbr-email">
                                    <i class="fas fa-birthday-cake fa-2x" style="color:#c2dc71;"></i>
                                    <span>&nbsp &nbsp{{ babysitter.age }} </span>
                                </div>
                                <div class="mbr-addres">
                                    <i class="fas fa-map-marker-alt fa-2x" style="color:#f5abcb;"></i>
                                    <span>&nbsp &nbsp{{ babysitter.city }}</span>
                                </div>
                                <div class="mbr-phone">
                                    <i class="fas fa-envelope-open fa-2x" style="color:#9cc0e5;"></i>
                                    <span>&nbsp {{ babysitter.email }}</span>
                                </div>
                                <div class="mbr-email">
                                    <i class="fas fa-phone light-green fa-2x" style="color:#c2dc71;"></i>
                                    <span>&nbsp &nbsp{{ babysitter.phone }} </span>
                                </div>
                                <div class="mbr-addres">
                                    <i class="fas fa-smoking fa-2x" style="color:#666566;"></i>
                                    <span>&nbsp &nbsp{{ babysitter.smoking }}</span>
                                </div>
                                <div class="mbr-phone">
                                    <i class="fas fa-id-card fa-2x" style="color:#f5abcb;"></i>
                                    <span>&nbsp &nbsp{{ babysitter.driver }}</span>
                                </div>
                                <div class="mbr-phone">
                                    <i class="fas fa-car-side light-pink fa-2x" style="color:#9cc0e5;"></i>
                                    <span>&nbsp &nbsp{{ babysitter.car }}</span>
                                </div>
                                <div class="mbr-email">
                                    <i class="fas fa-award fa-2x" style="color:#c2dc71;"></i>
                                    <span>&nbsp &nbsp &nbsp{{ babysitter.experience}} Years Experience</span>
                                </div>
                                <div class="mbr-price">
                                    <i class="fas fa-check-double blue fa-2x"></i>
                                    <span>&nbsp &nbsp {{ babysitter.verified }}</span>
                                </div>
                                <div class="mbr-price">
                                    <i class="fas fa-euro light-blue large-icon"></i>
                                    <span>&nbsp &nbsp{{ babysitter.price }} Per Hour</span>
                                </div>
                                <form method="post" action="{% url 'add_to_cart' babysitter.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name='quantity' type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add Hours</button>
                          </span>
                </div>
                <br>
                <br>
               <!-- input-group -->
<section class='rating-widget'>
  
  <!-- Rating Stars Box -->
  <div class='rating-stars text-center'>
    <ul id='stars'>
      <li class='star' title='Poor' data-value='1'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Fair' data-value='2'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Good' data-value='3'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Excellent' data-value='4'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='WOW!!!' data-value='5'>
        <i class='fa fa-star fa-fw'></i>
      </li>
    </ul>
  </div>
  
  <div class='success-box'>
    <div class='clearfix'></div>
    <div alt='tick image' src="{% static 'images/green-tick.png' %}">
    <div class='text-message'></div>
    <div class='clearfix'></div>
  </div>
  
  
  
</section>

            </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-offset-1 col-lg-6 col-sm-6">
                        <h1 class="poppins">Meet <span class="pink">{{ babysitter.firstName }}</span></h1>
                        <p>{{ babysitter.description }}</p>
                        <ul class="list2">
                            <li><p class="blue">{{ babysitter.fact1 }}</p></li>
                            <li><p class="blue">{{ babysitter.fact2 }}</p></li>
                            <li><p class="blue">{{ babysitter.fact3 }}</p></li>
                        </ul>
                        {% for ref in reference_qs %}
                        <div class="mbr-testimonial">
                            <i class="rt-icon2-quotes-left blue"></i>
                            <div class="mbr-testimonial-body">
                                <p>{{ ref.reference }}.</p>
                                <img src="images/author-2.jpg" alt="">
                                <span class="testimonial-author">
                                    <span><strong>{{ ref.contact }}</strong></span>
                                    Parent
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                        <p>{{ babysitter.biography }}</p>
                        <div class="light-green-tab tab-container">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#tab4" role="tab" data-toggle="tab">Education</a></li>
                                <li class=""><a href="#tab5" role="tab" data-toggle="tab">Jobs</a></li>
                                <li class=""><a href="#tab6" role="tab" data-toggle="tab">References</a></li>
                            </ul>
                            <div class="tab-content">
                                
                                <div class="tab-pane fade active in" id="tab4">
                                    {% for ed in education_qs %}
                                    <h4>{{ ed.qualification }}</h4>
                                    <p>
                                    	<ul class="list2">
                            				<li><p class="blue"><strong>School:</strong> {{ ed.school }}</p></li>
                            				<li><p class="blue"><strong>Qualification:</strong> {{ ed.qualification }}</p></li>
                            				<li><p class="blue"><strong>Field of Study:</strong> {{ ed.fieldOfStudy }}</p></li>
                            				<li><p class="blue"><strong>School:</strong> {{ ed.school }}</p></li>
                            				<li><p class="blue"><strong>Date:</strong> {{ ed.dateFrom }} - {{ ed.dateTo }}</p></li>
                        				</ul>
                                    </p>  
                                    {% endfor %}
                                </div>
                                
                                
                                
                                <div class="tab-pane fade active in" id="tab5">  
                                    {% for work in work_qs %}
                                    <h4><strong>Job</strong> {{ work.family }}</h4>
                                    <p>
                                    	<ul class="list2">
                            				<li><p class="blue"><strong>Position:</strong> {{ work.role }}</p></li>
                            				<li><p class="blue"><strong>Qualification:</strong> {{ work.location }}</p></li>
                            				<li><p class="blue"><strong>Date:</strong> {{ work.dateFrom }} - {{ work.dateTo }}</p></li>
                        				</ul>
                                    </p>
                                    {% endfor %}
                                </div>
                                
                                
                                {% for ref in reference_qs %}
                                <div class="tab-pane fade" id="tab6">
                                    <h4>References:</h4>
                                    <p>
                                        <ul class="list2">
                            				<li><p class="blue"><strong>Reference Family:</strong> {{ ref.refFamily }}</p></li>
                            				<li><p class="blue"><strong>Contact:</strong> {{ ref.contact }}</p></li>
                            				<li><p class="blue"><strong>Location:</strong> {{ ref.location }}</p></li>
                            				<li><p class="blue"><strong>School:</strong> {{ ref.email }}</p></li>
                            				<li><p class="blue"><strong>School:</strong> {{ ref.reference }}</p></li>
                            				<li><p class="blue"><strong>Date:</strong> {{ ref.date }}</p></li>
                        				</ul>
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static 'js/ratings.js' %}"></script> 
{% endblock %}
