
    {% extends 'base.html' %} {% block page_title %}{{ user }}'s Profile{% endblock %} {% block page_heading %}{{ user }}'s Profile{% endblock %} {% block content %}
<p>{{ babysitters.firstName }}</p>

<section>

<div class="dashboard push-down">
 <section class="team-member padding-v100">
            <div class="container">
                <div class="row">
                
                    <div class="col-lg-5 col-sm-6">
                        <div class="member-meta">
                            <img src="{{ MEDIA_URL }}{{ babysitter.image }}">
                            <span class="mbr-vocation">Babysitter</span>
                            <h2>{{ babysitter.firstName }} {{babysitter.lastName}}</h2>
                            <span class="author-social">
                                <a href="url('{{ babysitter.facebook }}')" class="social-icon color-bg-icon rounded-icon soc-facebook"></a>
                                <a href="#" class="social-icon color-bg-icon rounded-icon soc-twitter"></a>
                                <a href="#" class="social-icon color-bg-icon rounded-icon soc-google"></a>
                            </span>
                            <div class="member-contacts">
                                <div class="mbr-addres">
                                    <i class="rt-icon2-location-outline pink large-icon"></i>
                                    <span>{{ babysitter.city }}</span>
                                </div>
                                <div class="mbr-phone">
                                    <i class="rt-icon2-mail2 blue large-icon"></i>
                                    <span>{{ babysitter.email }}</span>
                                </div>
                                <div class="mbr-email">
                                    <i class="rt-icon2-phone-outline light-green large-icon"></i>
                                    <span>{{ babysitter.phone }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-offset-1 col-lg-6 col-sm-6">
                        <h1 class="poppins">Meet <span class="pink">{{ babysitter.firstName }}</span></h1>
                        <p>{{ babysitter.description }}</p>
                        <ul class="list2">
                            <li><p class="blue">Sed porttitor lectus nibh.</p></li>
                            <li><p class="blue">Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p></li>
                            <li><p class="blue">Donec rutrum congue leo eget malesuada.</p></li>
                        </ul>
                        <p>{{ babysitter.biography }}</p>
                        <div class="light-green-tab tab-container">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#tab4" role="tab" data-toggle="tab">Education</a></li>
                                <li class=""><a href="#tab5" role="tab" data-toggle="tab">Jobs</a></li>
                                <li class=""><a href="#tab6" role="tab" data-toggle="tab">References</a></li>
                            </ul>
                            <div class="tab-content">
                                
                                <div class="tab-pane fade active in" id="tab4">
                                    {% for ed in education_qs %}
                                    <h4>{{ ed.qualification }}</h4>
                                    <p>
                                    	<ul class="list2">
                            				<li><p class="blue"><strong>School:</strong> {{ ed.school }}</p></li>
                            				<li><p class="blue"><strong>Qualification:</strong> {{ ed.qualification }}</p></li>
                            				<li><p class="blue"><strong>Field of Study:</strong> {{ ed.fieldOfStudy }}</p></li>
                            				<li><p class="blue"><strong>School:</strong> {{ ed.school }}</p></li>
                            				<li><p class="blue"><strong>Date:</strong> {{ ed.dateFrom }} - {{ ed.dateTo }}</p></li>
                        				</ul>
                                    </p>  
                                    {% endfor %}
                                </div>
                                
                                
                                
                                <div class="tab-pane fade active in" id="tab5">  
                                    {% for work in work_qs %}
                                    <h4><strong>Job</strong> {{ work.family }}</h4>
                                    <p>
                                    	<ul class="list2">
                            				<li><p class="blue"><strong>Position:</strong> {{ work.role }}</p></li>
                            				<li><p class="blue"><strong>Qualification:</strong> {{ work.location }}</p></li>
                            				<li><p class="blue"><strong>Date:</strong> {{ work.dateFrom }} - {{ work.dateTo }}</p></li>
                        				</ul>
                                    </p>
                                    {% endfor %}
                                </div>
                                
                                
                                {% for ref in reference_qs %}
                                <div class="tab-pane fade" id="tab6">
                                    <h4>References:</h4>
                                    <p>
                                        <ul class="list2">
                            				<li><p class="blue"><strong>Reference Family:</strong> {{ ref.refFamily }}</p></li>
                            				<li><p class="blue"><strong>Contact:</strong> {{ ref.contact }}</p></li>
                            				<li><p class="blue"><strong>Location:</strong> {{ ref.location }}</p></li>
                            				<li><p class="blue"><strong>School:</strong> {{ ref.email }}</p></li>
                            				<li><p class="blue"><strong>School:</strong> {{ ref.reference }}</p></li>
                            				<li><p class="blue"><strong>Date:</strong> {{ ref.date }}</p></li>
                        				</ul>
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
                        {% for ref in reference_qs %}
                        <div class="mbr-testimonial">
                            <i class="rt-icon2-quotes-left blue"></i>
                            <div class="mbr-testimonial-body">
                                <p>{{ ref.reference }}.</p>
                                <img src="images/author-2.jpg" alt="">
                                <span class="testimonial-author">
                                    <span><strong>{{ ref.contact }}</strong></span>
                                    Parent
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                        <p>Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>

                    </div>
                </div>
            </div>
        </section>

{% endblock %}
