{% extends 'base.html' %} {% block content %}
<section class="container">
    <div class="page-header">
        <h1>Babysitters</h1><br>
          
    </div>
<div class="row active-with-click">
    {% for babysitter in babysitters %}

    
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Orange">
                <h2>
                    <span>{{ babysitter.firstName }} {{ babysitter.lastName }}</span>
                    <strong>
                        <i class="fas fa-fw fa-star"></i>
                        {{ babysitter.description }}
                        <p>Price Per Hour {{ babysitter.price }}</p>
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <div class="babysitter" style="background-image: url('{{ MEDIA_URL }}{{ babysitter.image }}')"></div>
                    </div>
                    <div class="mc-description">
                        a mother of 4 young children, Charlotte has plenty of experience with children
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fab fa-facebook"></a>
                    <a class="fab fa-fw fa-twitter"></a>
                    <a class="fab fa-fw fa-linkedin"></a>
                    <a class="fab fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>


    {% endfor %}
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</section>
{% endblock %}