{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Search Results {% endblock %}

{% block content %}
<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword" value="{{ babysitter.keywords }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">City</label>
                <input type="text" name="city" class="form-control" placeholder="City" value="{{ babysitter.city }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">County</label>
                <select name="county" class="form-control">
                  <option selected="true" disabled="disabled">County (All)</option>
                  {% for key,value in county_choices.items %}
                      <option value="{{ key }}" 
                      {% if key == babysitter.county %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Minder Type</label>
                <select name="minderType" class="form-control">
                  <option selected="true" disabled="disabled">Minder Type (Any)</option>
                  {% for key,value in minder_choices.items %}
                      <option value="{{ key }}"
                      {% if key == babysitter.minderType %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="max_num" class="form-control">
                  <option selected="true" disabled="disabled">Max No. of Children (All)</option>
                  {% for key,value in numbers_choices.items %}
                      <option value="{{ key }}"
                      {% if key == babysitter.max_num %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'babysitters' %}">Browse Babysitters</a>
          </li>
          <li class="breadcrumb-item active"> Search Results</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- babysitters -->
  <section class="team-page">
        {% if babysitters %}
          {% for babysitter in babysitters %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="team-person">
                            <img src="{{ MEDIA_URL }}{{ babysitter.image }}">
                            <div class="about-person">
                                <p class="grand-hotel">{{ babysitter.minderType }}</p>
                                <h3>{{ babysitter.firstName }} {{ babysitter.lastName }}</h3>
                                <div class="person-divider"></div>
                                <p>
                                    {{ babysitter.city }}
                                </p>
                                 <p>
                                    <i class="fas fa-euro light-blue "></i>
                                    <span>&nbsp {{ babysitter.price }} Per Hour</span>
                                </p>
                                <a href="{% url 'babysitter_profile' babysitter.id %}" class="btn btn-default">More Info</a>
                            </div>
                            <div class="person-social">
                                <p>
                                   {{ babysitter.description }}
                                </p>
                                <div class="social-icons">
                                    <a href="#" class="social-icon color-bg-icon rounded-icon soc-facebook"></a>
                                    <a href="#" class="social-icon color-bg-icon rounded-icon soc-twitter"></a>
                                    <a href="#" class="social-icon color-bg-icon rounded-icon soc-skype"></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <br>
            <br>
           {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}
      </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
          {% if babysitters.has_other_pages %}
            <ul class="pagination">
              {% if babysitters.has_previous %}
                <li class="page-item">
                  <a href="?page={{babysitters.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% for i in babysitters.paginator.page_range %}
                {% if babysitters.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if babysitters.has_next %}
                <li class="page-item">
                  <a href="?page={{babysitters.next_page_number}}" class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  </section>
 {% endblock %}