{% extends 'base.html'%}
{% load static %}
{% load bootstrap_tags %}
{% block content %}


<div class="container-fluid callout-container">
        <div class="opaque-overlay">&nbsp;</div>
        <!-- Callout -->
        <div class="row">
            <div class="col-xs-12">
                <section class="callout jumbotron text-center">
                    <h1>Book a babysitter with confidence and peace of mind.</h1>
                    <hr class='block-divider block-divider--orange'>
                    <p class="lead">Sign up today to find fully vetted, qualified & responsible childcare. <s class="hidden-xs">€2.99 per Month</s> <span class="visible-xs"><br></span> <strong><mark>First one is free!</mark></strong></p>
                    <p><button class="btn btn-lg btn--cta btn--red" data-toggle='modal' data-target='#signUpModal'>Sign Up!</button></p>
                    <p class="text-muted"><small>You must be over 18 to sign up to our service.</small></p>
                </section>
            </div>
        </div>
        <!-- /.callout -->
    </div>

<main class="page-content">
    <section class="skills-cont">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="skill skill-1">
                        <div class="skill-head">25 Years<br>
                            <strong>Child Care</strong>
                        </div>
                        <div class="skill-info">
                            <ul>
                                <li>Toddlers (1 - 3 years)</li>
                                <li>Preschoolers (3 - 5 years)</li>
                                <li>Primary School (6 - 12 years)</li>
                            </ul>
                        </div>
                        <a href="#" class="skill-detail">More details</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="skill skill-2">
                        <div class="skill-head">Spoken<br>
                            <strong>Languages</strong>
                        </div>
                        <div class="skill-info">
                            <ul>
                                <li>English language</li>
                                <li>Polish language</li>
                                <li>Czech language</li>
                            </ul>
                        </div>
                        <a href="#" class="skill-detail">More details</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="skill skill-3">
                        <div class="skill-head">Homework<br>
                            <strong>Help</strong>
                        </div>
                        <div class="skill-info">
                            <ul>
                                <li>Finishing homework</li>
                                <li>Checking answers</li>
                                <li>Proofreading</li>
                            </ul>
                        </div>
                        <a href="#" class="skill-detail">More details</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="grand-hotel">Hello, Parents!</p>
                    <h3 class="poppins">
                        Welcome to <span class="pink">Our Website</span>
                    </h3>
                    <p class="about-site">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam erat,
                        sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum stet clita kasd gubergren.
                    </p>
                    <a href="#" class="btn-type1">Search Nanny</a>
                </div>
            </div>
        </div>
    </section>

   
    <section class="info">
        <div class="container">
            <div class="row">
                <div class="col-md-6 for-nannies">
                    <p class="grand-hotel">Information</p>
                    <h3 class="poppins">For <span class="pink">Babysitters</span></h3>
                    <ul>
                        <li>
                            <div class="step-icon">
                                <i class="rt-icon2-edit"></i>
                            </div>
                            <div class="step-descr">
                                <h4>Register on our Website</h4>
                                <p>Sit amet, consetetur sadipscing elitrd diamnonumy eirmod tempor invidunt.</p>
                            </div>
                        </li>
                        <li>
                            <div class="step-icon">
                                <i class="rt-icon2-lightbulb3"></i>
                            </div>
                            <div class="step-descr">
                                <h4>Create Profile & Portfolio</h4>
                                <p>Ut labore et dolore magna aliquyam erat, sed diam voluptua vero eos et accusam et justo duo dolores.</p>
                            </div>
                        </li>
                        <li>
                            <div class="step-icon">
                                <i class="rt-icon2-watch"></i>
                            </div>
                            <div class="step-descr">
                                <h4>Wait for Employers</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 for-parents">
                    <p class="grand-hotel">Information</p>
                    <h3 class="poppins">For <span>Parents</span></h3>
                    <ul>
                        <li>
                            <div class="step-icon">
                                <i class="rt-icon2-group-outline"></i>
                            </div>
                            <div class="step-descr">
                                <h4>Choose Babysitter or Nanny</h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                            </div>
                        </li>
                        <li>
                            <div class="step-icon">
                                <i class="rt-icon2-eye-outline"></i>
                            </div>
                            <div class="step-descr">
                                <h4>Pre-Screen Nanny</h4>
                                <p>Magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.</p>
                            </div>
                        </li>
                        <li>
                            <div class="step-icon">
                                <i class="rt-icon2-message"></i>
                            </div>
                            <div class="step-descr">
                                <h4>Contact & Hire</h4>
                                <p>Rebum stet clita kasd gubergren sea takimata sanctus lorem ipsum dolor sit amet ipsum dolor.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <style>
    #hero2 {
        background: url("{% static 'images/bg-white.png' %}") no-repeat center;
        background-size: cover;
    }
    </style>
     <section class="pricing" id="hero2">
        <div class="container">
            <p class="grand-hotel text-center">Get Started!</p>
            <h3 class="poppins text-center">Sample <span class="pink">Rates</span></h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="price-1 text-center">
                        <div class="head">One<br><strong>Child</strong></div>
                        <div class="price"><span class="poppins">€10</span>/hour</div>
                        <div class="about-price">
                            <p>
                                Justo duo dolores et ea rebum stet clita kasd gubergren, no sea takimata.
                            </p>
                        </div>
                        <a href="#" class="purchase">Purchase</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-2 text-center">
                        <div class="head">Two<br><strong>Children</strong></div>
                        <div class="price"><span class="poppins">€15</span>/hour</div>
                        <div class="about-price">
                            <p>
                                Lorem ipsum dolor sit amet consetetur sadipscing nonumy eirmod tempor.
                            </p>
                        </div>
                        <a href="#" class="purchase">Purchase</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-3 text-center">
                        <div class="head">Three<br><strong>Children</strong></div>
                        <div class="price"><span class="poppins">€20</span>/hour</div>
                        <div class="about-price">
                            <p>
                                Labore dolore magna aliquyam erat, sed diam voluptua tvero eos et accusam.
                            </p>
                        </div>
                        <a href="#" class="purchase">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials parallax">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <i class="rt-icon2-quotes-left"></i>
                    <div id="carousel-media" class="carousel slide testimonials-carousel" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-media" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-media" data-slide-to="1"></li>
                            <li data-target="#carousel-media" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                    sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam.
                                </p>
                                <div class="media">
                                    <div class="media-body">
                                        <h4><a href="#">Shirry K. Lykins</a></h4>
                                        <p>
                                            Parent
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <p>
                                    Ullamco laboris nialiquid exea commodi consat.
                                    Ut enim minim veniam norud exotation.
                                </p>
                                <div class="media">
                                    <div class="media-body">
                                        <h4><a href="#">Shirry K. Lykins</a></h4>
                                        <p>
                                            Parent
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                    sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam.
                                </p>
                                <div class="media">
                                    <div class="media-body">
                                        <h4><a href="#">Shirry K. Lykins</a></h4>
                                        <p>
                                            Parent
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contacts">
        <div class="container">
            <div class="row text-center">
                <!--Section heading-->
    <h3 class="poppins text-center">Contact <span class="pink">Us</span></h3>
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>
                <div class="col-md-4">
                    
                    <span class="rt-icon2-location-outline pink"></span>
                    <p>Kenmare, Co. Kerry</p>
                </div>
                <div class="col-md-4">
                    <span class="rt-icon2-mail2 blue"></span>
                    <a href="#">info@minderfinder.ie</a>
                </div>
                <div class="col-md-4">
                    <span class="rt-icon2-phone-outline light-green"></span>
                    <p>(089) 424 0146</p>
                </div>
            </div>
        </div>
        
    <style>
    #hero {
        background: url("{% static 'images/bg-stiky.jpg' %}") no-repeat center;
        background-size: cover;
    }
    </style>
 <div class="container-fluid parallax" id="hero">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-wrap">
                        <form class="contact-form" method="post" action="/">
                            <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Full Name">
                            <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Email Adress">
                            <input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control" placeholder="Phone Number">
                            <div class="form-control-group">
                                <input type="text" aria-required="true" class="form-control" value="" name="date" id="datepicker" placeholder="Date">
                            </div>
                            <select aria-required="true" id="time" name="time">
                                <option value="" disabled selected>Time</option>
                                <option value="12:00 AM">12:00 AM</option>
                                <option value="12:30 AM">12:30 AM</option>
                                <option value="1:00 AM">1:00 AM</option>
                                <option value="1:30 AM">1:30 AM</option>
                                <option value="2:00 AM">2:00 AM</option>
                                <option value="2:30 AM">2:30 AM</option>
                                <option value="3:00 AM">3:00 AM</option>
                                <option value="3:30 AM">3:30 AM</option>
                                <option value="4:00 AM">4:00 AM</option>
                                <option value="4:30 AM">4:30 AM</option>
                                <option value="5:00 AM">5:00 AM</option>
                                <option value="5:30 AM">5:30 AM</option>
                                <option value="6:00 AM">6:00 AM</option>
                                <option value="6:30 AM">6:30 AM</option>
                                <option value="7:00 AM">7:00 AM</option>
                                <option value="7:30 AM">7:30 AM</option>
                                <option value="8:00 AM">8:00 AM</option>
                                <option value="8:30 AM">8:30 AM</option>
                                <option value="9:00 AM">9:00 AM</option>
                                <option value="9:30 AM">9:30 AM</option>
                                <option value="10:00 AM">10:00 AM</option>
                                <option value="10:30 AM">10:30 AM</option>
                                <option value="11:00 AM">11:00 AM</option>
                                <option value="11:30 AM">11:30 AM</option>
                                <option value="12:00 PM">12:00 PM</option>
                                <option value="12:30 PM">12:30 PM</option>
                                <option value="1:00 PM">1:00 PM</option>
                                <option value="1:30 PM">1:30 PM</option>
                                <option value="2:00 PM">2:00 PM</option>
                                <option value="2:30 PM">2:30 PM</option>
                                <option value="3:00 PM">3:00 PM</option>
                                <option value="3:30 PM">3:30 PM</option>
                                <option value="4:00 PM">4:00 PM</option>
                                <option value="4:30 PM">4:30 PM</option>
                                <option value="5:00 PM">5:00 PM</option>
                                <option value="5:30 PM">5:30 PM</option>
                                <option value="6:00 PM">6:00 PM</option>
                                <option value="6:30 PM">6:30 PM</option>
                                <option value="7:00 PM">7:00 PM</option>
                                <option value="7:30 PM">7:30 PM</option>
                                <option value="8:00 PM">8:00 PM</option>
                                <option value="8:30 PM">8:30 PM</option>
                                <option value="9:00 PM">9:00 PM</option>
                                <option value="9:30 PM">9:30 PM</option>
                                <option value="10:00 PM">10:00 PM</option>
                                <option value="10:30 PM">10:30 PM</option>
                                <option value="11:00 PM">11:00 PM</option>
                                <option value="11:30 PM">11:30 PM</option>
                            </select>
                            <textarea rows="6" cols="45" name="message" id="message" placeholder="Additional Info"></textarea>
                            <button type="submit" id="contact_form_submit" name="contact_submit" class="btn-type1">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</section>
<!--Section: Contact v.2-->
    </section>
</main>

{% endblock %}