{% extends 'base.html' %}
{% load static %}

{% block content %}

<script type="text/javascript">
   (function(){
      emailjs.init("user_qJXaF94HXnPoNO9bg3uYy");
   })();
</script>
        <section class="page_breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3>Get In Touch</h3></h3>
                        <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'contact' %}">
                                    Contact Us
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
<body>
<!-- Google Map -->
<div class="container">
  <h3 class="poppins text-center">Our <span class="pink">Location</span></h3>
  <div id="map_container"></div>
  <div id="map"></div>
</div>

<section class="contacts">
        <div class="container">
            <div class="row text-center">
                <!--Section heading-->
    <h3 class="poppins text-center">Contact <span class="pink">Us</span></h3>
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>
                <div class="col-md-4">
                    
                    <span class="fas fa-map-marker-alt fa-2x" style="color:#f5abcb;"></span>
                    <p>Kenmare, Co. Kerry</p>
                </div>
                <div class="col-md-4">
                    <span class="fas fa-envelope-open fa-2x" style="color:#9cc0e5;"></span>
                    <a href="#">info@minderfinder.ie</a>
                </div>
                <div class="col-md-4">
                    <span class="fas fa-phone light-green fa-2x" style="color:#c2dc71;"></span>
                    <p>(089) 424 0146</p>
                </div>
            </div>
       

    <div class="col-md-12">
        <div class="form-area">  
            <form role="form" onsubmit="return sendMail(this);">
                <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center; "class="poppins text-center">Make <span class="pink">Enquiry</span></h3>
    				<div class="form-group">
						<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
					</div>
					<div class="form-group">
						<input type="email" class="form-control" id="emailaddress" name="emailaddress" placeholder="Email" required>
					</div>
					<div class="form-group">
						<input type="mobile" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
					</div>
                    
                    <div class="form-group btn-group" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" name="gender" value="male" /> Male
                        </label> 
                        <label class="btn btn-default">
                            <input type="radio" name="gender" value="female" /> Female
                        </label>
                    </div>
                   <div class="form-group">
            <select name="branch" class="form-control">
                <option name="branch" value="">--Select Venue--</option>
                <option name="branch"  value="option1">At Home</option>
                <option name="branch"  value="option2" >Babysitters/ Childminders Home</option>
    	        <option name="branch"  value="option3">Other Location</option>
            </select>
        </div>
    
    <div class="form-group registration-date">
         <div class="input-group registration-date-time">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
            	<input class="form-control" id="date" type="date" name="date">
            	<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
            	<input class="form-control" id="time" type="time" name="time">
        </div>
    </div>
    <div class="form-group">
        <textarea class="form-control" type="textarea" id="booking_request" placeholder="Additional Information" maxlength="140" rows="3" name="booking_request"></textarea>
            <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>           
    </div>
            
        
    </form>
</div>
</div>
</section>

</body>
<script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<script src="{% static 'js/maps.js' %}"></script>          
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9iwsdqrIArHrcEvQ5P0veFPDk_CqkaVc&callback=initMap"></script>
<script src="{% static 'js/sendemail.js' %}"></script> 

{% endblock %}