{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block title %}Password reset complete{% endblock %}

{% block content %}

<section class="container">
    <div class="page-header">
        <h1>Password Reset</h1><br>
    </div>
</section>

<section class="container text-center">
    <img src="{% static 'images/logo.png' %}" alt="">
</section>

<section class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <form method="post" class="accountform">
               <br>
                <br>
                <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
           </div>
             {{ form.email.errors }}
             <h3 class="poppins text-center">Mission <span class="pink">Accomplished!</span></h3>
             <legend></legend>
             <section class="container text-center">
                <p>Your password has been reset.  You may go ahead and log in now.</p>
</section>
            </form>
           </div>
        </div>
    </div>
</section>

<section>
<div class="separator">
                    <h1 class="text-center"><span class="blue">Want to</span> <span class="pink">login again?</span></h1>
                    <button class="btn btn-primary center-block"><a href="{% url 'login' %}">Login</a></button>
</div>
</section>
<br>
<br>

{% endblock %}