{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
     <section class="container">
    <div class="page-header">
        <h1>Password Reset</h1><br>
    </div>
</section>

<section class="container text-center">
    <img src="{% static 'images/logo.png' %}" alt="">
</section>

<section class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <form method="post" class="accountform">
               <br>
                <br>
                <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
           </div>
             {{ form.email.errors }}
             <h3 class="poppins text-center">Change it <span class="pink">UP!</span></h3>
             <legend></legend>
             <section class="container text-center">
        </div>
        <p>Please enter your new password twice.
           So we can verify you typed it in correctly.</p>
        <form action="" method="post" class="accountform">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td></td>
                     {% csrf_token %}
                            {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-primary">Reset Password</button>
                </tr>
            </table>
        </form>
    </div>
</div>
</section>
<br>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}