{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<section class="container">
    <div class="page-header">
        <h1>Bookings</h1>
          
    </div>

<div class="row row-flex">
    {% for item in bookings_items%}
    
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-display">
        
        <img class="rounded-circle profile-image my-2 img-fluid" src="{{ MEDIA_URL }}{{ item.babysitter.image }}">
        
        <div class="caption">
            <h3>{{ item.babysitter.firstName }} {{ item.babysitter.lastName }}</h3>
            <p class="babysitter-description">{{ item.babysitter.minderType}}</p>
            <p><strong>€{{ item.babysitter.price }}</strong> Per Hour</p>
         </div>  
                
                <form class="form-inline" method="post" action="{% url 'adjust_bookings' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <div class="input-group-addon">Qty</div>
                            <input name="quantity" type="number" min="0" max="999" class="form-control">
                            <div class="input-group-addon">{{item.quantity}}</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                </form>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <p>Total</p>
    <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
</div>
</section
{% endblock %}