{% extends 'base.html' %}

{% load static %}
{% block content %}
<section class="page_breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3>Blog</h3>
                        <ol class="breadcrumb">
                            <li class="active">
                                <a href="{% url 'post_list' %}">
                                    Blog
                                </a>
                            </li>
                            
                        </ol>
                    </div>
                </div>
            </div>
        </section>



<div class="container padding-v100">
    <div class="row">
    <div class="col-sm-7 col-md-8 col-lg-8 zero-font">
            <div class="row">
    
{% for post in post_list%}
                
                <article class="blog-post single-item image-post">
                        <div class="item-media entry-thumbnail">
                            <img src="{{ MEDIA_URL }}{{ post.image }}">
                            <div class="media-links">
                                <a class="abs-link" title="" href="{% url 'post_detail' pk=post.pk %}"></a>
                            </div>
                        </div>
                        <div class="single-item-body">
                            <p class="post-category"><a href="#">{{ post.category }}</a></p>
                            <h3>
                                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                            </h3>
                            <p class="post-date">{{ post.published_date}}</p>
                            <p class="post-descr">{{ post.description}}</p>
                            <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Read More</a>
                        </div>
                    </article>
               
{% endfor %}     <br>
<br>

                </div>
            </div>


    <aside class="col-sm-5 col-md-4 col-lg-4">

                    <div class="widget widget_text">
                        <div class="text-center">
                            <h3 class="widget-title">Get in Touch</h3>
                            <a href="#" class="social-icon big-icon color-bg-icon soc-twitter">
                                <span>34.5K</span>
                                <span>Friends</span>
                            </a>
                            <a href="#" class="social-icon big-icon color-bg-icon soc-facebook">
                                <span>3.2K</span>
                                <span>Follows</span>
                            </a>
                            <a href="#" class="social-icon big-icon color-bg-icon soc-google">
                                <span>15.7K</span>
                                <span>Friends</span>
                            </a>
                        </div>
                    </div>
                    <!-- Mailchimp Account Setup but needs to be activated once custom url is set for this feature to work -->
                    <div class="widget widget_mailchimp text-center">
                        <h3 class="widget-title">Newsletter</h3>
                        <p>Subscribe to Newsletter to be updated.</p>
                        <form class="signup form-inline" action="/" method="get">
                            <div class="form-group">
                                <input name="email" type="email" class="mailchimp_email form-control" placeholder="Email">
                            </div>
                            <button type="submit" class="theme_button rt-icon2-pen2"></button>
                            <div class="response"></div>
                        </form>
                    </div>


                    <div class="widget widget_banner">
                        <div class="vertical-item content-absolute text-center">
                            <a href="#" class="item-media">
                                <img src="{% static 'images/blog-widget.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title">Featured Tags</h3>
                        {% for post in post_list%}
                        <div class="tagcloud text-center">
                            <a href="#" title="" class="btn-type1">{{post.tag}}</a>
                        </div>
                        {% endfor %} 
                    </div>

                    <div class="widget widget_archive text-center">
                        <h3 class="widget-title">Categories</h3>
                        <div class="select-group">
                            <select aria-required="true" id="time" name="time">
                                
                                <option value="" disabled selected>Choose Category</option>
                                {% for post in post_list%}
                                <option value="games">{{post.category}}</option>
                                {% endfor %} 
                            </select>
                            <i class="rt-icon2-chevron-thin-down"></i>
                        </div>
                    </div>
 
                    </aside>

                </div>
</aside>
</div>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/436be29a921b6a968772e88e2/f80f1cbe9089756748fc067bc.js");</script>
{% endblock %}
