{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
 <section class="container">
    <div class="page-header">
        <h1>Parents / Guardian Login</h1><br>
          
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
                <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
                    <fieldset class="form-group">
                        <legend>Login</legend>
                            {% csrf_token %}
                            {{ user_form | as_bootstrap }}
            
                         <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
             
                        <button type="submit" class="btn btn-primary">Login</button>
                    </fieldset>
                </form>
           </div>
        </div>
    </div>
</section>
<section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Login</h4>
            </div>
            <div class="card-body">
                <form action="{% url 'login' %}" method="POST">
                  {% csrf_token %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" required>
                </div>

                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" required>
                </div>

                <input type="submit" value="Login" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
