{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Minder Finder{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.0/css/all.css">

    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:900,700' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/modernizr-2.8.3.min.js' %}"></script> 
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>

<!-- Navigation -->
<div id="canvas">
    <div id="box_wrapper">
 <header class="page_header header_white affix-top">
    <div class="header-top">
        <div class="container-fluid">
            <div class="row">
    
               
          <div class="col-sm-4 ">     
          
						<li class="nav-item">
							<a class="nav-link">
								<span "loggedIn"><img src="{{ MEDIA_URL }}{{user.profile.image}}" alt="{{username}}"  class="rounded-circle avatar d-none d-md-inline-block">Welcome {{ user.username }}</a></span>
								<a class="nav-link" href=""></a>
							</a>
						</li>
			
		  </div>
		   
		    <div class="row">
                <div class="col-sm-4">
                    <a href="index.html">
                        <img src="{% static 'images/logo.png' %}" alt="Babysitter logo" class="top-logo">
                    </a>
                </div>
            </div>
            
          <div class="col-sm-4">
				<a class="nav-link" href="{% url 'register' %}"><button type="button" class=" nav-link btn btn-success btn-lg"><i class="fas fa-user-plus">Register</i></button></a>
				<a class="nav-link" href="{% url 'login' %}"><button type="button" class="btn btn-danger btn-lg"><i class="fas fa-sign-in-alt">Login</i></button></a>
                <a class="nav-link text-right" href="{% url 'logout' %}"> <button type="button" class="btn btn-warning btn-lg" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt">Logout</i></button></a>
            </div>
        </div>
    </div>
</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <!-- main nav start -->
                <nav class="mainmenu_wrapper">
                    <ul class="mainmenu sf-menu">
                        <li  class="active">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li>
                            <a href="calendar.html">Pages</a>
                        </li>

                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="{% url 'babysitters' %}">Babysitters</a>
                        </li>

                        <li>
                            <a href="{% url 'post_list' %}">Blog</a>
                        </li>

                        <li>
                            <a href="gallery_fullwidth.html">Gallery</a>
                        </li>

                        <li>
                            <a href="appointment.html">Appointments</a>
                        </li>

                        <li>
                            <a href="contacts.html">Contacts</a>
                        </li>
                    </ul>
                </nav>
                <!-- eof main nav -->
                <div class="toggle_menu-wrap" data-spy="affix" data-offset-top="425">
                    <span class="toggle_menu"><span></span></span>
                </div>
            </div>

        </div>
    </div>
  </header>
</div>
    </div>
</div>


    <div class="container">
         {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>
        
        {% block content %} {% endblock %}
        

<!-- Footer 1 - Left Social/Right Menu -->

{% block search %}
<div class="search-text"> 
   <div class="container">
        <div class="row text-center">
            <div class="form">
                <form id="search-form" class="form-search form-horizontal">
                    <input type="text" class="input-search" placeholder="Search">
                    <button type="submit" class="btn-search">Search</button>
                </form>
            </div>
        </div>         
   </div>     
</div>
{% endblock %}
<footer>
 <div class="container">
   <div class="row text-center">
   
             <div class="col-md-6 col-sm-6 col-xs-12">
              <ul class="list-inline">
                         
                           <li>
                                <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                           </li>
                           <li>
                                <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                           </li>
                           <li>
                                <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                           </li>
                           <li>
                                <a href="#"><i class="fa fa-youtube fa-2x"></i></a>
                          </li>
                           <li>
                                <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                          </li>
                          
                 </ul>
               </div>
       
             <div class="col-md-6 col-sm-6 col-xs-12">
              <ul class="menu list-inline">
                         
                     <li>
                        <a href="#">Home</a>
                      </li>
                           
                      <li>
                         <a href="#">About</a>
                      </li>
                           
                      <li>
                        <a href="#">Blog</a>
                      </li>
                           
                      <li>
                         <a href="#">Gallery </a>
                      </li>
                           
                      <li>
                        <a href="#">Contact</a>
                     </li>
             </ul>
           </div>
       </div> 
    </div>
</footer>

<div class="copyright">
 <div class="container">
   
     <div class="row text-center">
     	<p>Made with <i class="fa fa-heart" aria-hidden="true" style="color:#be1931"></i>by Pierce O'Neill 2018</p>
     </div>
     
    </div>
</div>
<!-- End -->


<script src="{% static 'js/main.js' %}"></script> 
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/compressed.js' %}"></script>

</body>
</html
