{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Minder Finder{% endblock %}</title>
    <script type="text/javascript">
   (function(){
      emailjs.init("user_qJXaF94HXnPoNO9bg3uYy");
   })();
</script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/v4-shims.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:900,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/balloon.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
   <script src="http: //cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>

<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> (089) 424 0146
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> info@minderfinder.ie
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/logo.png' %}" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
            {% if '/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
              <a class="nav-link" href="{% url 'babysitters' %}">Babysitters</a>
          </li>
          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
             <a class="nav-link" href="{% url 'about' %}">Blog</a>
          </li>
          <li
            {% if 'Blog' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'babysitters' %}">About</a>
          </li>
          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">Contact</a>
          </li>
          <li
            {% if 'contact' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
        </ul>

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li
            {% if 'dashboard' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'profile' %}">
               Welcome {{ user.username }} (Dashboard)</a>
            </li>
            <li class="nav-item mr-3">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
          {% else %}
            <li
            {% if 'register' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'register' %}">
                <i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li
            {% if 'login' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>

                Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

<!-- Register Modal -->
<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-height">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registration</h4>

      <div class="modal-body">
        <form method="post" action="{% url 'register' %}">
                  {% csrf_token %}
  
      <i class="fas fa-user fa-2x"  aria-hidden="true"></i>
      <input type="text" class="textfield" placeholder="Username" name="username" >
      
      <i class="fas fa-envelope fa-2x" aria-hidden="true" ></i>
      <input type="email" class="textfield" placeholder="Email" name="email">

      <i class="fas fa-lock fa-2x"  aria-hidden="true" ></i>
      <input type="password" class="textfield" placeholder="Your password" name="password1">
      
      
      <i class="fas fa-lock fa-2x"  aria-hidden="true" ></i>
      <input type="password" class="textfield" placeholder="Repeat your password" name="password2">

  <button type="submit" class="btn btn-success buttonreg" ><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>Register</button>
  <!--<button type="submit" class="btn btn-danger buttonrs"><i class="fa fa-link" aria-hidden="true"></i> Full Registration Form</button>-->
</form>
      </div>
    </div>
  </div>
</div>


<!-- Log in Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content loginsize">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Login</h4>
            <div class="modal-body">
              <form method="post" action="{% url 'login' %}">
                  {% csrf_token %}
                    <i class="fa fa-user fa-2x"  aria-hidden="true"></i>
                    <input type="text" class="textfield" placeholder="Username or Email Address" name="username_or_email" >
                    <i class="fa fa-lock fa-2x"  aria-hidden="true" ></i>
                    <input type="password" class="textfield" placeholder="Password" name="password">
                    <button type="submit" class="btn btn-success buttonlg" >Login</button>
              </form>
                  <div class="footer">
                      <button type="submit" class="btn btn-danger buttonrs" data-toggle="collapse" data-target="#resetfield"><i class="fa fa-key fa-rotate-90" aria-hidden="true"></i> Reset</button>
                      <div id="resetfield" class="collapse">
                    {% csrf_token %}
                        <i class="fa fa-cogs fa-2x reset-user" aria-hidden="true"></i>
                        <input type="email" class="textfield reset-field" name="email" name="csrfmiddlewaretoken">
                        <button type="submit" name="password_reset" class="btn btn-warning buttonwr"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Reset confirmation</button>
              </form>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $().toastmessage('showSuccessToast', "Hello there! Message is shown.");
</script>

   <div class="container">

            </div>
        </div>
    </div>
        
        {% block content %} {% endblock %}
 

<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
    <span class="year">2018</span> Minder Finder
</footer>
<!-- End -->

<script src="{% static 'js/toastr.js' %}"></script> 
<script src="{% static 'js/main.js' %}"></script> 
<script src="{% static 'js/compressed.js' %}"></script> 
<script src="{% static 'js/jquery-ui.js' %}"></script> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js"></script>
</body>
</html